<?php

$subPaths = preg_split('/[\\\\\\/]+/', "/$path");
$file = array_pop($subPaths);
$up = count($subPaths) - (strlen($file) ? 0 : 1);
$baseDirectory = str_repeat('../', $up);
$cssPath = $baseDirectory.'css';

?><!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><?=$path?></title>
    <link rel="stylesheet" href="<?=$cssPath?>/bootstrap.min.css">
    <link rel="stylesheet" href="<?=$cssPath?>/style.css">
</head>
<body>
<?php
if ($up) {
    ?>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <?php
                        foreach ($subPaths as $index => $subPath) {
                            $up = count($subPaths) - $index;
                            ?>
                            <li><a href="<?=str_repeat('../', $up)?>index.html"><?=$subPath ?: '(root)'?></a></li>
                            <?php
                        }
                        ?>
                        <li class="active"><?=$file?></li>
                    </ol>
                </div>
            </div>
        </div>
    </header>
    <?php
}
?>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>&nbsp;</td>
            <td colspan="3"><div align="center"><strong>Code Coverage (covered nodes)</strong></div></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="<?=$status?>">Total</td>
            <td class="<?=$status?> big">       <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<?=$percentage?>" aria-valuemin="0" aria-valuemax="100" style="width: <?=$percentage?>%">
                    <span class="sr-only"><?=$percentage?>% covered (<?=$status?>)</span>
                </div>
            </div>
            </td>
            <td class="<?=$status?> small"><div align="right"><?=$percentage?>%</div></td>
            <td class="<?=$status?> small"><div align="right"><?=$coveredNodesCount?>&nbsp;/&nbsp;<?=$fileNodesCount?></div></td>
        </tr>
        <?php
        foreach ($children as $filePath => list($coveredNodesCount, $fileNodesCount, $children)) {
            $fullPath = ltrim("$path/$filePath", '/');
            $status = $getStatus($coveredNodesCount, $fileNodesCount);
            $percentage = number_format(100 * $coveredNodesCount / $fileNodesCount, 2);
            $isFile = ($children === []);
            ?>
            <tr>
                <td class="<?=$status?>"><span class="glyphicon glyphicon-<?=$isFile ? 'file' : 'folder-open'?>"></span> <a href="<?=$baseDirectory.$fullPath.($isFile ? '' : '/index')?>.html"><?=$filePath?></a></td>
                <td class="<?=$status?> big">       <div class="progress">
                    <div class="progress-bar progress-bar-<?=$status?>" role="progressbar" aria-valuenow="<?=$percentage?>" aria-valuemin="0" aria-valuemax="100" style="width: <?=$percentage?>%">
                        <span class="sr-only"><?=$percentage?>% covered (<?=$status?>)</span>
                    </div>
                </div>
                </td>
                <td class="<?=$status?> small"><div align="right"><?=$percentage?>%</div></td>
                <td class="<?=$status?> small"><div align="right"><?=$coveredNodesCount?>&nbsp;/&nbsp;<?=$fileNodesCount?></div></td>
            </tr>
            <?php
        }
        ?>
        </tbody>
    </table>
    <footer>
        <hr/>
        <h4>Legend</h4>
        <p>
            <span class="danger"><strong>Low</strong>: 0% to 50%</span>
            <span class="warning"><strong>Medium</strong>: 50% to 90%</span>
            <span class="success"><strong>High</strong>: 90% to 100%</span>
        </p>
        <p>
            <small>Generated by <a href="https://github.com/phug-php/tester" target="_top">phug/tester <?=$phugTesterVersion?></a> using <a href="https://secure.php.net/" target="_top">PHP <?=PHP_VERSION?></a> with <a href="https://xdebug.org/">Xdebug <?=phpversion('xdebug')?></a> and <a href="https://phpunit.de/">PHPUnit <?=\PHPUnit\Runner\Version::id()?></a> at <?=date('r')?>.</small>
        </p>
    </footer>
</div>
</body>
</html>
